<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ListInstalledApps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>490F90821D6D89DA00229755</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>490F909B1D6D89DA00229755</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>490F90A61D6D89DA00229755</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
